<ion-view view-title="Ingreso" ng-controller="LoginController as loginCtrl">
    <div class="bar bar-energized bar-header">
        <h1 class="title">Ingreso</h1>
    </div>
    <ion-content class="has-header">
        <form ng-submit="login()">
            <label class="item item-input">
                <i class="icon ion-email placeholder-icon"></i>
                <input type="text" placeholder="Email" ng-model="user.email" />
            </label>
            <label class="item item-input">
                <i class="icon ion-key placeholder-icon"></i>
                <input type="password" placeholder="Clave" ng-model="user.clave" />
            </label>
            <div class="padding">
                <input type="submit" class="button button-block button-balanced" value="Ingresar" />
            </div>
        </form>
    </ion-content>
</ion-view>