<ion-view view-title="Rutas" ng-controller="RutasController as rutasCtrl">
    <div class="bar bar-energized bar-header">
        <h1 class="title">Rutas</h1>
    </div>
    <ion-content class="has-header">
        <div class="list">
            <div ng-repeat="ruta in rutas">
                <span class="item item-icon-right" ng-show="ruta.realizada">
                    <i class="icon ion-checkmark-round balanced"></i>
                    <h2>Ruta #{{ruta.$id}}</h2>
                    <p>Fecha de entrega: {{ruta.fecha_carga}}</p>
                </span>
                <a class="item item-icon-right" ng-hide="ruta.realizada" ng-href="#/ruta/{{ruta.$id}}">
                    <i class="icon ion-ios-arrow-right"></i>
                    <h2>Ruta #{{ruta.$id}}</h2>
                    <p>Fecha de entrega: {{ruta.fecha_carga}}</p>
                </a>
            </div>
        </div>
    </ion-content>
</ion-view>